In [3]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [4]:
df = pd.read_csv('Bank_Customers.csv')

In [5]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
df = df.drop(labels=['Surname','CustomerId', 'RowNumber' ], axis=1)

In [7]:
label_encoder= preprocessing.LabelEncoder()


df['Gender']= label_encoder.fit_transform(df['Gender'])
df['Geography']= label_encoder.fit_transform(df['Geography'])

In [8]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [9]:
X = df.drop(labels='Exited', axis=1)
y = df['Exited']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, test_size = .20)

In [11]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [12]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

ann = tf.keras.models.Sequential()

2023-02-21 14:44:07.317793: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-02-21 14:44:12.276623: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [13]:
ann.add(tf.keras.layers.Dense(units =6 , activation = "relu"))
ann.add(tf.keras.layers.Dense(units =6 , activation = "relu"))
ann.add(tf.keras.layers.Dense(units =1 , activation = "sigmoid"))

In [14]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [15]:
ann.fit(X_train,y_train, batch_size =32, epochs = 50 )

Epoch 1/50
250/250 [==============================] - 1s 873us/step - loss: 0.5403 - accuracy: 0.7960
Epoch 2/50
250/250 [==============================] - 0s 809us/step - loss: 0.4966 - accuracy: 0.7960
Epoch 3/50
250/250 [==============================] - 0s 820us/step - loss: 0.4741 - accuracy: 0.7960
Epoch 4/50
250/250 [==============================] - 0s 959us/step - loss: 0.4564 - accuracy: 0.7960
Epoch 5/50
250/250 [==============================] - 0s 823us/step - loss: 0.4439 - accuracy: 0.7960
Epoch 6/50
250/250 [==============================] - 0s 763us/step - loss: 0.4364 - accuracy: 0.7960
Epoch 7/50
250/250 [==============================] - 0s 744us/step - loss: 0.4317 - accuracy: 0.7960
Epoch 8/50
250/250 [==============================] - 0s 835us/step - loss: 0.4288 - accuracy: 0.7964
Epoch 9/50
250/250 [==============================] - 0s 851us/step - loss: 0.4263 - accuracy: 0.8058
Epoch 10/50
250/250 [==============================] - 0s 842us/step - loss: 0.4240 - accuracy: 0.8100
Epoch 11/50
250/250 [==============================] - 0s 812us/step - loss: 0.4224 - accuracy: 0.8139
Epoch 12/50
250/250 [==============================] - 0s 864us/step - loss: 0.4206 - accuracy: 0.8175
Epoch 13/50
250/250 [==============================] - 0s 841us/step - loss: 0.4179 - accuracy: 0.8188
Epoch 14/50
250/250 [==============================] - 0s 911us/step - loss: 0.4141 - accuracy: 0.8206
Epoch 15/50
250/250 [==============================] - 0s 764us/step - loss: 0.4102 - accuracy: 0.8240
Epoch 16/50
250/250 [==============================] - 0s 747us/step - loss: 0.4053 - accuracy: 0.8278
Epoch 17/50
250/250 [==============================] - 0s 786us/step - loss: 0.3997 - accuracy: 0.8303
Epoch 18/50
250/250 [==============================] - 0s 786us/step - loss: 0.3941 - accuracy: 0.8354
Epoch 19/50
250/250 [==============================] - 0s 791us/step - loss: 0.3873 - accuracy: 0.8407
Epoch 20/50
250/250 [==============================] - 0s 758us/step - loss: 0.3809 - accuracy: 0.8432
Epoch 21/50
250/250 [==============================] - 0s 740us/step - loss: 0.3757 - accuracy: 0.8451
Epoch 22/50
250/250 [==============================] - 0s 787us/step - loss: 0.3719 - accuracy: 0.8480
Epoch 23/50
250/250 [==============================] - 0s 800us/step - loss: 0.3687 - accuracy: 0.8495
Epoch 24/50
250/250 [==============================] - 0s 828us/step - loss: 0.3661 - accuracy: 0.8515
Epoch 25/50
250/250 [==============================] - 0s 818us/step - loss: 0.3639 - accuracy: 0.8519
Epoch 26/50
250/250 [==============================] - 0s 805us/step - loss: 0.3619 - accuracy: 0.8531
Epoch 27/50
250/250 [==============================] - 0s 880us/step - loss: 0.3608 - accuracy: 0.8528
Epoch 28/50
250/250 [==============================] - 0s 848us/step - loss: 0.3592 - accuracy: 0.8545
Epoch 29/50
250/250 [==============================] - 0s 790us/step - loss: 0.3579 - accuracy: 0.8551
Epoch 30/50
250/250 [==============================] - 0s 782us/step - loss: 0.3565 - accuracy: 0.8558
Epoch 31/50
250/250 [==============================] - 0s 798us/step - loss: 0.3553 - accuracy: 0.8561
Epoch 32/50
250/250 [==============================] - 0s 777us/step - loss: 0.3543 - accuracy: 0.8583
Epoch 33/50
250/250 [==============================] - 0s 752us/step - loss: 0.3532 - accuracy: 0.8571
Epoch 34/50
250/250 [==============================] - 0s 747us/step - loss: 0.3521 - accuracy: 0.8569
Epoch 35/50
250/250 [==============================] - 0s 764us/step - loss: 0.3516 - accuracy: 0.8585
Epoch 36/50
250/250 [==============================] - 0s 825us/step - loss: 0.3505 - accuracy: 0.8584
Epoch 37/50
250/250 [==============================] - 0s 834us/step - loss: 0.3498 - accuracy: 0.8589
Epoch 38/50
250/250 [==============================] - 0s 769us/step - loss: 0.3494 - accuracy: 0.8583
Epoch 39/50
250/250 [==============================] - 0s 768us/step - loss: 0.3492 - accuracy: 0.8585
Epoch 40/50
250/250 [==============================] - 0s 804us/step - loss: 0.3483 - accuracy: 0.8590
Epoch 41/50
250/250 [==============================] - 0s 748us/step - loss: 0.3475 - accuracy: 0.8600
Epoch 42/50
250/250 [==============================] - 0s 745us/step - loss: 0.3472 - accuracy: 0.8614
Epoch 43/50
250/250 [==============================] - 0s 767us/step - loss: 0.3465 - accuracy: 0.8608
Epoch 44/50
250/250 [==============================] - 0s 746us/step - loss: 0.3465 - accuracy: 0.8593
Epoch 45/50
250/250 [==============================] - 0s 759us/step - loss: 0.3460 - accuracy: 0.8600
Epoch 46/50
250/250 [==============================] - 0s 757us/step - loss: 0.3453 - accuracy: 0.8596
Epoch 47/50
250/250 [==============================] - 0s 746us/step - loss: 0.3454 - accuracy: 0.8604
Epoch 48/50
250/250 [==============================] - 0s 896us/step - loss: 0.3444 - accuracy: 0.8614
Epoch 49/50
250/250 [==============================] - 0s 921us/step - loss: 0.3448 - accuracy: 0.8616
Epoch 50/50
250/250 [==============================] - 0s 856us/step - loss: 0.3443 - accuracy: 0.8611

In [16]:

Customer  = ann.predict([[600, 0, 1, 40, 3, 60000, 2, 1, 1, 50000]])
Customer

1/1 [==============================] - 0s 107ms/step

array([[0.]], dtype=float32)